@font-face {
    font-family: 'MarsBold';
    src: url('./Mars-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aquire';
    src: url('./Aquire-BW0ox.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Long';
    src: url('./Long_Shot.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}